[submodule "api-catalogo"]
	path = api-catalogo
	url = git@github.com:MatheusFelipeMarinho/api-catalogo.git
[submodule "api-payments"]
	path = api-payments
	url = git@github.com:MatheusFelipeMarinho/api-payments.git
[submodule "nuxt-start"]
	path = nuxt-start
	url = git@github.com:MatheusFelipeMarinho/nuxt-start.git
[submodule "go-video-encoder"]
	path = go-video-encoder
	url = git@github.com:MatheusFelipeMarinho/go-video-encoder.git
