version: '3.7'
services:
  front:
    image: node:16
    volumes:
      - ./nuxt-start:/app
      - type: bind
        source: ./nuxt-start.sh
        target: /app/entrypoint.sh
    working_dir: /app
    command: sh ./entrypoint.sh
    ports: 
      - 3000:3000
    environment:
      API_URL: "http://nuxt-start:3000"

  rabbitmq:
    image: rabbitmq
    ports:
      - 5672:5672

  mongo-database:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo-usuario
      MONGO_INITDB_ROOT_PASSWORD: mongo-senha
      MONGO_INITDB_DATABASE: mongo-db
      
  api-payments:
    image: node:16
    volumes:
      - ./api-payments:/app
      - type: bind
        source: ./api-payments.sh
        target: /app/entrypoint.sh
    working_dir: /app
    command: sh ./entrypoint.sh
    environment: 
      SERVER_PORT: 3002
      MONGO_URL: "mongodb://mongo-usuario:mongo-senha@mongo-mkt:27017/mkt?authSource=admin"
      RABBITMQ_HOST: 'rabbitmq'
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: guest
    ports:
      - 3002:3002
    depends_on:
      - rabbitmq
      - mongo-database

  api-catalogo:
    build: ./api-catalogo
    environment:
      JWT_KEY: chave-jwt
      DB_CONNECTION: pgsql
      DB_HOST: postgre-catalogo
      DB_DATABASE: catalogo
      DB_USERNAME: usuario_catalogo
      DB_PASSWORD: senhapg
      APP_KEY: c08cbbfd6eefc83ac6d23c4c791277e4
      APP_URL: http://api-catalogo:8080
      APP_ENV: local
      APP_DEBUG: "true"
    volumes:
      - ./api-catalogo/:/app
      - type: bind
        source: ./api-catalogo.sh
        target: /app/entrypoint.sh
    working_dir: /app
    command: sh ./entrypoint.sh
    ports:
      - 8080:8080
    depends_on:
      - postgre-catalogo

  api-gateway:
    image: nginx
    volumes:
      - ./api-gateway:/etc/nginx/conf.d
    restart: always
    ports:
      - 80:80
    depends_on:
      # - api-catalogo
      - api-payments
      - front
